server:
  port: 4000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false

spring:
  datasource:
    url: jdbc:postgresql://<DB SERVER URL>:5432/<DB NAME>
    username: <DB OWNER>
    password: <DB PASSWORD>
    max-active: 3
    max-idle: 3
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

booleanuk:
  app:
    jwtSecret: <SECRET GOES HERE>
    jwtExpirationMs: 86400000